In [1]:
import os
import pandas as pd
import numpy as np

In [3]:
folder_path = 'df_tagged'

filtered_data = {}
i = 1
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        file_path = os.path.join(folder_path, file_name)
        df = pd.read_csv(file_path)
        participant_data = df[df['Speaker']== 'Participant']
        interview_name = os.path.splitext(file_name)[0]
        filtered_data[i] = participant_data
        i = i+1

         Speaker                                           Dialogue
3    Participant  Okay yeah, so my name is ___ and I have underg...
5    Participant  So I live in Virginia. So pretty much the Mid ...
7    Participant              So an independent contractor working…
9    Participant  Yeah, well consultant, but primarily with one ...
11   Participant  Dealing with clients, so I help structure cont...
..           ...                                                ...
118  Participant                 In Philadelphia Pennsylvania area.
120  Participant  Trigger that's close enough your kid actually ...
122  Participant                                                65.
124  Participant                                               Yes,
126  Participant                              Oh, he, him. I guess.

[64 rows x 2 columns]

In [4]:
output_folder = 'participants_only'

for interview_id, participant_data in filtered_data.items():
    if 'Dialogue' in participant_data.columns:
        dialogue = participant_data['Dialogue']
        dialogue_text = "\n".join(dialogue.astype(str))
        output_file_path = os.path.join(output_folder, f"interview_{interview_id}_dialogue.txt")
        with open(output_file_path, 'w', encoding='utf-8') as f:
            f.write(dialogue_text)